<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Directory listing for /</title>
</head>
<body>
    <h2>
    Directory listing for <a href="/">/</a>
    <% for (const path of this.paths) { %>
        <a href="<% path.href %>"><% path.name %></a>
    <% } %>
    </h2>
    <hr>
    <ul>
        <% for (const file of this.list) { %>
        <li><a href="<% file %>"><% file %></a></li>
        <% } %>
    </ul>
</body>
</html>